{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/favicon-16x16.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Roboto.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Articles-Cards-images.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar-Right-Links-icons.css' %}">
</head>

<body style="font-family: Roboto, sans-serif;color: rgb(117,117,117);text-align: left;height: 648px;background: rgb(238,239,241);">
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto"><img src="{% static 'assets/img/logo.png' %}"></div>
        </div>
        <div class="row d-flex justify-content-center" style="border-color: var(--bs-btn-border-color);">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4"
                             style="background: rgba(0,88,162,0.97);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                 viewBox="0 0 16 16" class="bi bi-person">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                            </svg>
                        </div>
                        <form class="text-center" method="post" id="form_submit">
                            {% csrf_token %}
                            {% if messages %}
                                <div class="mb-3">
                                    {% for message in messages %}
                                        <div class="alert alert-danger">{{ message }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="mb-3">
                                <input class="form-control" type="text" name="username" autofocus=""
                                       autocapitalize="none" autocomplete="username" maxlength="150" required=""
                                       id="id_username" placeholder="Логин">
                            </div>
                            <div class="mb-3">
                                <input class="form-control" placeholder="Пароль" type="password" name="password"
                                       autocomplete="current-password" required id="id_password">
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-block w-100" type="submit"
                                        style="background: rgba(0,88,162,0.97);border-color: rgba(0,88,162,0.97);">Войти
                                </button>
                            </div>
                            {#                            <p class="text-muted">Забыли пароль?</p>#}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/chart.min.js' %}"></script>
<script src="{% static 'assets/js/bs-init.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Получаем форму по её ID
        var form = document.getElementById("form_submit");

        // При отправке формы
        form.addEventListener("submit", function (event) {
            // Блокируем кнопку
            var button = form.querySelector("button[type='submit']");
            button.disabled = true;

            // Изменяем текст на кнопке
            button.innerText = "Ожидайте...";

            // Опционально можно добавить отключение стилей кнопки или изменение её внешнего вида
            // button.style.opacity = "0.5";

        });
    });
</script>
</body>

</html>